---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ButtomMaridage from "../components/ButtomMaridage.jsx";
import WineCard from "../components/WineCard.jsx";
import type { loadRenderers } from "astro:container";

const wines = await getCollection("wines");
console.log(wines);
---

<Layout title="Welcome to Astro.">
  <main class="flex justify-center mt-8">
    <div class="">
      <h1 class="text-center text-6xl font-bold">
        Especials <span class="block"> 🍷 Wines</span>
      </h1>
    </div>
  </main>
  <section aria-label="Vinos especiales del mes" class="mt-36">
    <div class="px-4 mx-auto max-w-screen-xl mt-12">
      <div class="grid gap-6 md:grid-cols-2">
        {
          wines.map((wine) => {
            const { slug, data } = wine;
            const { title, description, price, variedad, graduation, image } =
              data;
            return (
              <WineCard client:load
                title={title}
                description={description}
                price={price}
                variedad={variedad}
                graduation={graduation}
                image={image}
              />
            );
          })
        }
      </div>
    </div>
  </section>
</Layout>
