---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import WineCard from "../components/WineCard.jsx";

const wines = await getCollection("wines");
console.log(wines);
---

<Layout title="Welcome to Astro.">
  <main class="flex justify-center mt-8">
    <div class="flex flex-col items-center">
      <a class="h-20 md:h-36 mb-10" href="https://www.lamatera.online/">
        <img  class="h-20 md:h-36 mb-10"
        src="https://www.lamatera.mx/wp-content/themes/bmx-lamatera/assets/img-logotipo-rojo.svg"
        alt="logo de la matera">
      </a>
      <h1 class="text-center text-3xl font-bold font-serif opacity-80">
        Especiales 
      </h1>
      <div class="flex items-center justify-center">

        <p
          class=" text-center mx-5 mt-4 text-sm max-w-[400px] font-serif opacity-80 text-pretty"
        >
         Te presentamos una selección especial de vinos recomendados por nuestro sommelier, Este mes, viajamos a Argentina para descubrir la  <span class=" text-red-500"> línea Zuccardi,</span> una bodega de renombre que destaca por su pasión y dedicación en cada botella. 
        </p>
      </div>
    </div>
  </main>
  <section
    aria-label="Vinos especiales del mes"
    class="mt-10 flex flex-col items-center border-b-[1px] border-white/20 pb-10 mb-14 mx-1"
  >
    <div class=" relative px-4 mx-auto max-w-screen-xl mt-12    ">
      <div class="grid gap-6
       md:grid-cols-2  ">
        {
          wines.map((wine) => {
            const { slug, data } = wine;
            const { title, description, price, variedad, graduation, image, entradas, carne } =
              data;


            return (
           
                <WineCard
                  client:load
                  index={slug}
                  title={title}
                  description={description}
                  price={price}
                  variedad={variedad}
                  graduation={graduation}
                  image={image}
                  entradas={entradas}
                  carne={carne}
                />

            );
          })
        }
      </div>
    </div>
  </section>
</Layout>
